@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  height: 100%;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100%;
}

input::placeholder {
  font-size: 13px;
  color: #dfdfe0;
}

.mt-10 {
  margin-top: 10%;
}

.mt-20 {
  margin-top: 20%;
}

.mt-50 {
  margin-top: 50%;
}
.mt-60 {
  margin-top: 60%;
}
.mt-70 {
  margin-top: 70%;
}
.mt-80 {
  margin-top: 80%;
}

.mt-90 {
  margin-top: 90%;
}

.mt-100 {
  margin-top: 100%;
}

.password-wrapper {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
